<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="ISO-8859-1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Details</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <nav class="nav">
      <a href="/home" class="view-info">Home</a>
      <a href="/viewIn" class="view-info">View Student</a>
      <a href="/addStud" class="view-info">Add Student</a>
  </nav>
  <form action="/showStudent" method="get">
    <div class="hero hero-view">
      <label class="std-id">Enter Student ID<span class="mandatory">*</span></label>
      <input type="text" name="roll" id="roll" class="btn-view" required>
      <button type="submit" class="btn-view">Fetch Details</button>
  </div>
  </form>
</body>
</html>